@model InfrastructureModule.Models.Components.Footer.SocialNetworks

<div class="social_networks">
    @foreach (var socialNetwork in Model.SocialNetwoksIcons)
    {
        <img class="social_network" src="@socialNetwork.contentUrl" alt="@socialNetwork.alt"/>
    }
</div>
