@using Sitecore.Mvc
@model OutOfWebrotApp.Models.Pages.Search.SearchModel

<div class="jumbotron">
    <h3>Posts </h3>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
</div>

<div class="col-md-4">
    @Html.Sitecore().Placeholder("postsSearchCriteria")
</div>

<div id="postSearchresultContainer">
    @Html.Partial("~/Views/Pages/Posts/PartialPostsView.cshtml", Model)
</div>