<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <contentSearch>
            <indexConfigurations>
                <PostSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <indexAllFields>false</indexAllFields>
                    <initializeOnAdd>true</initializeOnAdd>
                    <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
                    <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="Title" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="2f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                            <field fieldName="Subtitle" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                            <field fieldName="Body" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                            <field fieldName="Tags" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                            <field fieldName="Category" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                        </fieldNames>
                    </fieldMap>
                    <fields hint="raw:AddComputedIndexField">
                        <field fieldName="post_tags_string" type="OutOfWebrotApp.Search.ComputedFields.PostTagsStringComputedField, OutOfWebrotApp" />
                    </fields>
                    <include hint="list:IncludeTemplate">
                        <!--Post Page-->
                        <pageId>{308B1E83-6748-4641-A8B2-0FD24FAC4301}</pageId>
                    </include>
                    <include hint="list:IncludeField">
                        <!--Post Title-->
                        <fieldId>{904C55DC-31D9-475D-A5E0-AF474B8ADD06}</fieldId>
                        <!--Post Subtitle-->
                        <fieldId>{DDEDF89C-2520-4582-878F-5C8879F5C72F}</fieldId>
                        <!--Post Body-->
                        <fieldId>{9E43A309-E3DB-407B-9C75-26403302ACF5}</fieldId>
                        <!--Post Tags-->
                        <fieldId>{651C31FF-18F2-45CB-9BDD-2F98FC7CF38C}</fieldId>
                        <!--Post Category-->
                        <fieldId>{F3A67EB2-56D1-453F-87CA-E8BC868BF157}</fieldId>
                        
                    </include>
                    <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
                    <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
                    <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
                </PostSearchConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>
