<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!--<settings>
            --><!--  MAIL SERVER
            SMTP server used for sending mails by the Sitecore server
            Is used by MainUtil.SendMail()
            Default value: ""
      --><!--
            <setting name="MailServer" value="smtp.gmail.com" />
            --><!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      --><!--
            <setting name="MailServerUserName" value="sitecorecdp2016@gmail.com" />
            --><!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      --><!--
            <setting name="MailServerPassword" value="iLov3S1teC0r3" />
            --><!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25
      --><!--
            <setting name="MailServerPort" value="25" />
        </settings>-->
        <settings>
            <setting name="MailServer">
                <patch:attribute name="value">smtp.yandex.ru</patch:attribute>
            </setting>
            <setting name="MailServerUserName">
                <patch:attribute name="value">lox.lox1234567891@yandex.ru</patch:attribute>
            </setting>
            <setting name="MailServerPassword">
                <patch:attribute name="value">loxloxlox</patch:attribute>
            </setting>
            <setting name="MailServerPort">
                <patch:attribute name="value">587</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>
